<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Admin</a></li>
            <li>Agregar Productos</li>
        </ul>
        <section class="page-title">
            <h2>Crear producto</h2>
        </section>
        <section class="account-page">
            <div class="container-form">
                <form action="/admin" method="POST" enctype="multipart/form-data">
                    <div class="input-wrap">
                        <label for="productName" class="form-label">Nombre del producto</label>
                        <input type="text" name="productName" id="productName"  class="form-control" placeholder="Ej: Dad Hat Lyon">
                        <% if (locals.errors && errors.productName) { %>
                            <div class="text-danger"> 
                                <%= errors.productName.msg %> 
                            </div>    
                        <% } %>
                        <div class="text-danger" id="erName">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <label for="price" class="form-label">Precio ($ARS)</label>
                        <input type="number" name="price" id="price"  class="form-control" placeholder="Pesos Argentinos">
                        <% if (locals.errors && errors.price) { %>
                            <div class="text-danger"> 
                                <%= errors.price.msg %> 
                            </div>    
                        <% } %>
                        <div class="text-danger" id="erPrice">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="productDescription">
                            <label for="productDescription" class="form-label">Descripción</label>
                            <input type="textarea" name="productDescription" id="productDescription"  class="form-control" placeholder="Agregar aquí la descripción del producto">
                        </div>
                        <% if (locals.errors && errors.productDescription) { %>
                            <div class="text-danger"> 
                                <%= errors.productDescription.msg %> 
                            </div>    
                        <% } %>
                        <div class="text-danger" id="erDescription">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="foto-usuario">
                            <label for="productImage" class="form-label">Imagen del producto</label>
                            <input type="file" name="productImage" id="productImage">
                        </div>
                        <% if (locals.errors && errors.productImage) { %>
                            <div class="text-danger"> 
                                <%= errors.productImage.msg %> 
                            </div>    
                        <% } %>
                        <div class="text-danger" id="erImage">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <p>Categoría</p>
    
                        <section class="productCategory">
                            <% for (let i=0; i < categories.length; i++) { %> 
                                    <input type="radio" name="productCategory" id="<%= categories[i].category %>" value="<%= categories[i].id %>">   
                                    <label for="<%= categories[i].category %>" class="form-label"><%= categories[i].category %></label> 
                             <% } %> 

                        </section>
                        <% if (locals.errors && errors.productCategory) { %>
                            <div class="text-danger"> 
                                <%= errors.productCategory.msg %> 
                            </div>    
                        <% } %>
                    </div>
                    <div class="input-wrap">
                        <section class="productColour">
                            <p>Color</p>
                                <% for (let i=0; i < colours.length; i++) { %> 
                                <div class="checkbox">
                                    <input type="checkbox" name="productColour" id="<%= colours[i].colour %>" value="<%= colours[i].id %>">   
                                    <label for="<%= colours[i].colour %>"><%= colours[i].colour %></label>
                                </div>   
                                <% } %> 
                                
                        </section>                                                         
                        <% if (locals.errors && errors.productColour) { %>
                            <div class="text-danger"> 
                                <%= errors.productColour.msg %> 
                            </div>    
                        <% } %>
                    </div>
                    <button class="btn-signup" type="submit">CREAR PRODUCTO</button>
                </form>
            </div>

        </section>


    </section>

    <!-- Footer -->

    <%- include('./partials/footer.ejs') %>