<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Mi Cuenta</a></li>
            <li>Crear Cuenta</li>
        </ul>
        <section class="page-title">
            <h2>Estás editando: <i><%= Product.name %></i> </h2>
        </section>
        <section class="account-page">
            <div class="container-form">
                <form action="/producto/edit/<%= Product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="input-wrap">
                        <label for="productName" class="form-label">Nombre del producto</label>
                        <input type="text" name="productName" id="productName"  class="form-control" value="<%= Product.name %>">
                    </div>
                    <div class="input-wrap">
                        <label for="price" class="form-label">Precio ($ARS)</label>
                        <input type="number" name="productPrice" id="price"  class="form-control" value="<%= Product.price %>">
                    </div>
                    <div class="input-wrap">
                        <div class="productDescription">
                            <label for="productDescription" class="form-label">Descripción</label>
                            <input type="textarea" name="productDescription" id="productDescription"  class="form-control" value="<%= Product.description %>">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="foto-usuario">
                            <label for="productImage" class="form-label">Imagen del producto</label>
                            <input type="file" name="productImage" id="productImage">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <p>Categoría</p>
    
                        <section class="productCategory">
                            <% for (let i=0; i < categories.length; i++) { %> 
                                    <input type="radio" name="productCategory" id="<%= categories[i].category %>" value="<%= categories[i].id %>">   
                                    <label for="<%= categories[i].category %>" class="form-label"><%= categories[i].category %></label> 
                             <% } %> 

                        </section>
                    </div>
                    <div class="input-wrap">
                        <section class="productColour">
                            <p>Color</p>
                                <% for (let i=0; i < colours.length; i++) { %> 
                                <div class="checkbox">
                                    <input type="checkbox" name="productColour" id="<%= colours[i].colour %>" value="<%= colours[i].id %>">   
                                    <label for="<%= colours[i].colour %>"><%= colours[i].colour %></label>
                                </div>   
                                <% } %> 
                                
                        </section>                                                                        
                    </div>
                    <button class="btn-signup" type="submit">GUARDAR PRODUCTO</button>
                </form>
            </div>

        </section>


    </section>

    <!-- Footer -->

    <%- include('./partials/footer.ejs') %>