<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">
      <div class="login-page">
        <div class="form">
            <h2>INICIAR SESIÓN</h2>
        
            <form method="POST" action="/user/login">
              <input type="text" name="email" placeholder="Email">
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                  <%= errors.email.msg  %> 
                </div>   
              <% } %>
              <input type="password" name="password" id="password" placeholder="contraseña">
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                  <%= errors.password.msg  %> 
                </div>   
              <% } %>
              <div class="remember">
                <label for="rememberMe">Recuerdame</label>
                <input type="checkbox" value="lsRememberMe" name="remember_user" id="rememberMe"> 
              </div>
              <!-- <i class="fas fa-eye" onclick="show()"></i>   -->
              <!-- <br> -->
              <br>
              <button type="submit">INGRESAR</button>
              <p class="message"></p>
            </form>
        
            <form class="login-form">
              <button type="button" onclick="window.location.href='/user/register'">CREAR UNA CUENTA</button>
            </form>
            <a href="#">¿Olvidaste tu Contraseña?</a>
          </div>
      </div>
        
    </section>
    

    <!-- Footer -->

    <%- include('./partials/footer.ejs') %>