<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">

        <div class="container-profile" style="margin-top: 100px;">
            <div class="row">
                <div class="col-md-3">
                    <h2 style="margin-bottom: 20px;">Hola, <%= user.firstName %>!</h2>
                    <img src="/img/<%= user.avatar %>" width="20%">
                    <br>
                    <br>
                    <div class="alert alert-success"><%= user.email %></div>
                </div>
            </div>
        </div>


    </section>

    <!-- Footer -->
    
    <%- include('./partials/footer.ejs') %>
