<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">

        <div class="container-profile">
            <div class="row">
                <div class="col-md-3">
                    <h2>Hi <%= user.firstName %></h2>
                    <img src="/images/avatars/<%= user.avatar %>" width="100%">
                    <br>
                    <br>
                    <div class="alert alert-success"><%= user.email %></div>
                </div>
            </div>
        </div>


    </section>

    <!-- Footer -->
    
    <%- include('./partials/footer.ejs') %>
