<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

    <!-- Main -->
    <section class="main">
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><%= users.firstName %></li>
        </ul>

        <div class="setOfCards" id="setOfCards">
            <% users.forEach(hat => { %>
                <div class="card">
                    <img src="/img/<%= hat.avatar  %>" alt="">
                    <p class="card--title"><%= hat.lastName %>, <%= hat.firstName %></p>
                    <p class="card--title"><%= hat.email %></p>
                    <hr class="card--line">
                    <p class="card--description"> <%= hat.description %> </p>
                </div>     
             <% }); %> 
        </div>


    </section>

    <!-- Footer -->
    
    <%- include('./partials/footer.ejs') %>
